/* HEADER NAVIGATION */

nav {
    background-color: #1b1e24;
    margin: auto;
    padding: 0px;
}

nav li {
    margin: 0;
    padding: 0 20px;
    display: inline;
    font-size: 20px;
}

nav ul {
    display: inline;
}

.contact-btn {
    float: right;
}

.contact-btn a {
    margin-right: 30px;
    padding: 8px 18px;
    border: 2px solid #D5DDE5;
    border-radius: 6px;
}

.contact-btn a:active {
    position: relative;
    bottom: 1px;
}

.contact-btn a:hover {
    background: rgba(78, 80, 102, 0.45);
}


nav a {
    height: 60px;
    line-height: 60px;
    color: #D5DDE5;
    text-decoration: none;
}

.bottom-bar {
    position: fixed;
    z-index: 100; 
    bottom: 0; 
    left: 0;
    width: 100%;
}