/* HEADER NAVIGATION */

nav {
    background-color: #1b1e24;
    margin: auto;
    padding: 0px;
    border-bottom: 4px #ff0000;
}

nav li {
    margin: 0;
    padding: 0 20px;
    display: inline;
    font-size: 20px;
}

nav ul {
    display: inline;
}

.contact-btn {
    float: right;
}

.contact-btn a {
    margin-right: 30px;
    padding: 8px 18px;
    border: 2px solid #D5DDE5;
    border-radius: 6px;
}

.contact-btn a:active {
    position: relative;
    bottom: 1px;
}

nav a {
    height: 60px;
    line-height: 60px;
    color: #D5DDE5;
    text-decoration: none;
}