@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
html,
body {
    min-height: 100%;
    background: linear-gradient(#e0edff, #d6e5f8);
    font-family: 'Lato', sans-serif;
    flex-direction: column;
    font-weight: 300;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    margin: 0px;
}

.page-title {
    text-align: center;
    font-weight: 400;
    background: #FFFFFF;
    margin: 0px;
    padding-top: 50px;
    
}

.page-description {
    text-align: center;
    padding: 15px;
    margin-top: 0px;
    background: linear-gradient(#FFFFFF, #e0edff);
}

.calendar {
    display: flex;
    justify-content: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.gallery-item {
    margin: 5px;
    border: 1px solid #FFF;
}

.gallery-item .thumbnail {
    display: block;
    width: 320px;
    height: 212px;
}