<html>

<head>
    <meta charset="utf-8">

    <title>weeCal</title>
    <meta name="description" content="This is a calendar.">
    <meta name="author" content="the weecal team, of course">

    <link rel="stylesheet" type="text/css" href="/static/calendar.css">
    <link rel="stylesheet" type="text/css" href="/static/header_footer.css">

    <style>


    </style>

</head>

<body>

    <nav>
        <ul>
            <li><a href="#"><b>Home</b></a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </nav>

    <table id="week-cal" class="week-cal">
    </table>

<!--
    <div id="myModal" class="modal">

        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Some text in the Modal..</p>
        </div>

    </div>
-->

    <nav>
        <div class="contact-btn"><a href="mailto:weecal.inc@gmail.com">Contact Us!</a>
        </div>
    </nav>

    <script type="text/javascript">
        var mon = null;
        var events = {};
        var data = {};
        var eventUrl = 'http://127.0.0.1:5000/load_events';

        function loadEvents() {
            var xhr = null;
            if (window.XMLHttpRequest) { // Mozilla/Safari
                xhr = new XMLHttpRequest();
            } else if (window.ActiveXObject) { // IE
                xhr = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xhr.open('POST', eventUrl);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    events = JSON.parse(xhr.responseText);
                }
            };
            xhr.send();
        }

        function convertDate(date) {
            var day = date.getDate();
            if (day < 10) {
                day = '0' + day;
            }
            var month = date.getMonth() + 1;
            if (month < 10) {
                month = '0' + month;
            }
            var year = date.getFullYear();
            return month + '/' + day + '/' + year;
        }

        function buildWeek(date) {
            loadEvents();
            alert(JSON.stringify(events));
            for (var key in Object.keys(events)) {
                var date = events[key]['date'];
                if (date in data) {
                    data[date].push(events[key]);
                } else {
                    data[date] = [events[key]];
                }
            }
            var cDate = null;
            var days = {
                0: "Sun",
                1: "Mon",
                2: "Tue",
                3: "Wed",
                4: "Thu",
                5: "Fri",
                6: "Sat"
            }
            if (date == "now") {
                cDate = new Date(); // current date
            } else {
                cDate = new Date(date);
            }
            var monDiff = cDate.getDay() - 1; // days away last monday is
            if (monDiff == -1) { // since sunday = 0
                monDiff = 6;
            }
            mon = new Date(); // last monday before current date
            mon.setDate(cDate.getDate() - monDiff);
            var table = document.getElementById('week-cal');
            table.innerHTML = '';
            for (var i = 0; i < 2; i++) {
                var row = table.insertRow(i);
                for (var j = 0; j < 4; j++) {
                    var cell = row.insertCell(j);
                    if (!(i == 1 && j == 3)) {
                        var id = i + '-' + j;
                        var to_add = '';
                        to_add = to_add + '<table id=' + id + ' class="day-cal"><thead><tr><th>' + days[mon.getDay()] + ' ' + mon.getDate() + '</th></tr></thead><tbody><tr><td onclick="showDay(\'' + id + '\')">';
                        if (convertDate(mon) in data) {
                            to_add += 'HIIII<br>';
                        }
                        to_add = to_add + '</td></tr></tbody><tfoot><tr><td>This is a footer.</td></tr></tfoot></table>';
                        cell.innerHTML = to_add;
                    } else {
                        cell.innerHTML = '<th><textarea style="WIDTH: 300px; HEIGHT: 182px" id="output" name="output" rows="9" wrap="virtual" cols=48></textarea></th>';
                    }
                    mon.setDate(mon.getDate() + 1);
                }
            }
        }

        function showDay(id) {
            var table = document.getElementById(id);
            var events = table.rows[1].cells[0].innerHTML;
            alert(events);
        }

        buildWeek("now");

    </script>

</body>

</html>
