<html>

<head>
    <meta charset="utf-8">

    <title>weeCal</title>
    <meta name="description" content="This is a calendar.">
    <meta name="author" content="the weecal team, of course">

    <link rel="stylesheet" type="text/css" href="/static/calendar.css">
    <link rel="stylesheet" type="text/css" href="/static/header_footer.css">

    <style>
    </style>

</head>

<body>

    <nav>
        <ul>
            <li><a href="#"><b>Home</b></a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </nav>

    <table id="week-cal" class="week-cal">
    </table>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Some text in the Modal..</p>
        </div>

    </div>

    <script type="text/javascript">
        var mon = null;

        function makeHttpRequest(url) {
            var xhr = null;
            if (window.XMLHttpRequest) { // Mozilla/Safari
                xhr = new XMLHttpRequest();
            } else if (window.ActiveXObject) { // IE
                xhr = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xhr.open('POST', url);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    alert(JSON.stringify(JSON.parse(xhr.responseText)));
                }
            };
            xhr.send();
        }

        makeHttpRequest('http://localhost:5000/load_events');

        function buildWeek(date) {
            var cDate = null;
            var days = {
                0: "Sun",
                1: "Mon",
                2: "Tue",
                3: "Wed",
                4: "Thu",
                5: "Fri",
                6: "Sat"
            }
            if (date == "now") {
                cDate = new Date(); // current date
            } else {
                cDate = new Date(date);
            }
            var monDiff = cDate.getDay() - 1; // days away last monday is
            if (monDiff == -1) { // since sunday = 0
                monDiff = 6;
            }
            mon = new Date(); // last monday before current date
            mon.setDate(cDate.getDate() - monDiff);
            var table = document.getElementById('week-cal');
            table.innerHTML = '';
            for (var i = 0; i < 2; i++) {
                var row = table.insertRow(i);
                for (var j = 0; j < 4; j++) {
                    var cell = row.insertCell(j);
                    if (!(i == 1 && j == 3)) {
                        var id = i + '-' + j;
                        cell.innerHTML = '<table id=' + id + ' class="day-cal"><thead><tr><th>' + days[mon.getDay()] + ' ' + mon.getDate() + '</th></tr></thead><tbody><tr><td onclick="showDay(\'' + id + '\')">Hi</td></tr></tbody><tfoot><tr><td>This is a footer.</td></tr></tfoot></table>';
                    } else {
                        cell.innerHTML = '<th></th>';
                    }
                    mon.setDate(mon.getDate() + 1);
                }
            }
        }

        function showDay(id) {
            var table = document.getElementById(id);
            var events = table.rows[1].cells[0].innerHTML;
            alert(events);
        }

        buildWeek("now");

    </script>

</body>

</html>
